<nav class="navbar navbar-expand-lg navbar-site">
  <div class="container">
    <a class="navbar-brand texto-menu" href="#">Escritores</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span><img src="../../../assets/imgs/hamburger_button_menu_icon_155296.png" alt="btnHamburger" width="35px"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="itens" aria-current="page" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="itens" href="#">Os Melhores</a>
        </li>
        <li class="nav-item">
          <a class="itens" href="#">Sobre</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
